* {
  background-color: rgb(56, 53, 53);
  color: whitesmoke;
  border: none;
  margin: 0;
}

html, body {
  background-color: lightslategray;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.container {
  width: 90%;
}

.recipe-card {
  min-width: 200px;
  height: 20vh;
  list-style: none;
  padding: 10px;
  margin: 10px;
  border: solid white 2px;
}

.recipe-card a {
  text-decoration: none;
  color: whitesmoke;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
}
